body{
    font-family: Courier, "Times New Roman", Impact;
    line-height: 2;
    color: darkblue;
    background-color: lightgrey;
    font-size: 38px;
}

img{
    border: 5px solid lightgoldenrodyellow;
}

li{
    border: solid 10px lightcoral;
}